html, body {
    padding:0px;
    margin:0px;
    font-family: 'Silkscreen', cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aqua;
    color:orange;
    height:100vh;
}
a.no-style:link {
    text-decoration: inherit;
    color: inherit;
}

a.no-style:visited {
    text-decoration: inherit;
    color: inherit;
}
h1 {
    font-size: 72pt;
    -webkit-text-stroke: 1px darkgoldenrod;
    text-shadow: 3px 3px #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
header {
    flex: auto 0 0;
}
content {
    flex: 1 0 70vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}
.question-intro {
    text-align: center;
    margin-bottom: 75px;
}

.question-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    width:100%;
}

.text-input {
    flex: 1 0 auto;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
    background-color: #efefef;
    color:gray;
    font-family: 'Silkscreen', cursive;
    outline: none;
    transition: border-color 0.3s,
                background-color 0.3s,
                box-shadow 0.3s;

    box-shadow:  3px 3px 5px 0px #00000050;
}

.text-input:focus, .text-input:active {
    background-color: #ffefef;
    border: 2px solid darkgoldenrod;
    box-shadow: 1px 1px 5px 0px #00000050;
}

.go-button-wrapper {
    margin-left: 10px;
    
}
.go.button {
    letter-spacing: -5pt;
    padding-left: 0px;
    font-size: 32pt;
}
.back.button {
    padding: 5px;
}
.button {
    min-width:75px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #3f3f3f;
    cursor: pointer;
    transition: padding 0.3s,
                letter-spacing 0.3s,
                left 0.3s,
                top 0.3s,
                box-shadow 0.3s;
    background-color: orange;
    box-shadow:  3px 3px 5px 0px #00000050;
    border-radius: 5px;
    border: 2px solid darkgoldenrod;
    position:relative;
    left: 0px;
    top: 0px;
}
.go.button:hover {
    padding-left: 10px;
    letter-spacing:-10pt;   
}
.button:hover {
    box-shadow: 1px 1px 5px 0px #00000050;
    top: 2px;
    left: 2px;
}

.bubble-wrapper {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.bubble {
    border-radius: 100%;
    border: 1px solid #efefefdf;
    background-color: #efefef7f;
    box-shadow: inset 5px -5px 25px 5px #efefefbf;
    width:100px;
    height: 100px;
    position: absolute;
}
screen {
    display: block;
    flex: auto 1 1;
}
screen#feeding{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.search-wrapper {
    height:100px;
}
.search {
    display: block;
    position: absolute;
    transform: translate(-50%, 0); 
    font-size: 20px;
    transition: opacity 0.5s;
    text-align: center;
}

screen#answer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#video-answer {
    max-height: 50vh;    
}
.video-answer-question,
.feeding-question {
    font-size: 40px;
    margin-bottom: 10px;
}
.video-answer-wrapper {
    position:relative;
    border-radius: 15px 15px 100px 100px;
    border: 5px solid darkgoldenrod;
    background-color: black;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video-answer-side {
    height:100%;
    width: 50%;
    top: 0;
    position:absolute;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}
.video-answer-side span {
    font-size: 20pt;
}
.video-answer-side.yes {
    left: 50%;
    background-color: #00ff0060;
    color: #00ff00;
}
.video-answer-side.no {
    left: 0%;
    background-color: #ff000060;
    color: #ff0000;
}


