html, body {
  padding:0px;
  margin:0px;
  font-family: 'Silkscreen', cursive;
}

body {
  background-color: aqua;
  color:orange;
  /* height: 100vh; */
  font-size: 20pt;
}
a.no-style:link {
  text-decoration: inherit;
  color: inherit;
}

a.no-style:visited {
  text-decoration: inherit;
  color: inherit;
}
a.no-style {
  transition: color 0.3s;
}
a.no-style:hover {
  color: darkgoldenrod;
}


.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

header {
  padding-left: 25px;
  padding-right: 25px;
  flex: auto 0 0;
  align-self: stretch;
  text-align: center;
  padding-bottom: 5px;
  transition: background-color 0.5s,
    box-shadow 0.5s;
}
header:not(.home) {
  
  background-color: #005b5b;
  box-shadow: 1px 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.title {
  font-size: 30pt;
  -webkit-text-stroke: 1px darkgoldenrod;
  text-shadow: 3px 3px #000;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: font-size 0.5s;
}
.title.large {
  font-size: 60pt;
}
.back-button {
  margin-top: 13px;
  margin-bottom: auto;
  float: left;
  transition:
    opacity 0.5s;
}
.back-button.hidden {
  opacity: 0;
}
.back-button:hover span {
  transition: 
    color 0.3s;
}
.back-button:hover span {
  color: darkgoldenrod;
}
.content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  margin-left: 5px;
  margin-right: 5px;
}
.content>div{
  flex: 1 0 auto;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.vspace{
  margin-top: 50px;
  margin-bottom: 50px;
}


.opacity-fade05{
  transition: opacity 0.5s,
    -moz-opacity 0.5s,
    -webkit-opacity 0.5s;
}


.text-align-center {
  text-align: center;
}

@media screen and (max-width: 900px) {
  body {
      font-size: 14pt;
  }
  .title {
      font-size: 30pt;
  }
}

@media screen and (max-height: 600px) {
  .title {
      font-size: 20pt;
      margin-top: 5px;
      margin-bottom: 5px;
  }
  .title.large {
    font-size: 30pt;
  }
  body {
      font-size: 12pt;
  }
  .question-intro {
      margin-bottom: 5px;
      margin-top: 5px;
  }
  .vspace {
      margin-bottom: 10px;
      margin-top: 10px;
  }
}

@media screen and (max-width: 600px) {
  header {
    padding-left: 5px;
  }
  body {
      font-size: 12pt;
  }
  .title {
      font-size: 20pt;
  }
  .title.large {
    font-size: 30pt;
  }
  .line {
      flex-direction: column;
  }
  .line .button {
      margin-top: 10px;
      margin-bottom: 10px;
  }
}

@media screen and (max-device-width: 480px) {
  .hide-mobile {
    display: none;
  }
}
@media screen and (min-device-width:480px) {
  .only-mobile {
    display: none;
  }
}